In [43]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inl

In [44]:
df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [45]:
df.shape

(10000, 14)

In [46]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [47]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [48]:
def print_object_uniques(df):
    for column in df.columns:
        if df[column].dtype=="object":
            print(f'{column} : {df[column].unique()}')

In [49]:
print_object_uniques(df)

Surname : ['Hargrave' 'Hill' 'Onio' ... 'Kashiwagi' 'Aldridge' 'Burbidge']
Geography : ['France' 'Spain' 'Germany']
Gender : ['Female' 'Male']

In [50]:
df2 = df.drop(["RowNumber", "CustomerId", "Surname"], axis=1)
df2.shape

(10000, 11)

In [51]:
df3 = df2.replace({"Female":0, "Male":1})
df3.Gender

0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    1
9999    0
Name: Gender, Length: 10000, dtype: int64

In [52]:
print_object_uniques(df3)

Geography : ['France' 'Spain' 'Germany']

In [53]:
df4 = pd.get_dummies(data=df3, columns=["Geography"])
print_object_uniques(df4)

In [54]:
df4.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [55]:
cols_to_scale = ["Age", "CreditScore", "Tenure", "NumOfProducts", "EstimatedSalary"]
df4[cols_to_scale]

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df4[cols_to_scale] = scaler.fit_transform(df4[cols_to_scale])
df4.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,0.538,0,0.324324,0.2,0.00,0.000000,1,1,0.506735,1,1,0,0
1,0.516,0,0.310811,0.1,83807.86,0.000000,0,1,0.562709,0,0,0,1
2,0.304,0,0.324324,0.8,159660.80,0.666667,1,0,0.569654,1,1,0,0
3,0.698,0,0.283784,0.1,0.00,0.333333,0,0,0.469120,0,1,0,0
4,1.000,0,0.337838,0.2,125510.82,0.000000,1,1,0.395400,0,0,0,1

In [56]:
X = df4.drop("Exited", axis=1)
y = df4["Exited"]

In [57]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [58]:
x_train.shape

(8000, 12)

In [59]:
y_train.shape

(8000,)

In [60]:
import tensorflow as tf  
from tensorflow import keras

In [61]:
model = keras.Sequential([
    keras.layers.Dense(9, input_shape=(12,), activation='relu'),
    keras.layers.Dense(4, activation='relu'),   
    keras.layers.Dense(1, activation='sigmoid'),
])

model.compile(optimizer='adam', metrics=["accuracy"], loss='binary_crossentropy')

model.fit(x_train, y_train, epochs=100)

Epoch 1/100
250/250 [==============================] - 2s 6ms/step - loss: 521.8395 - accuracy: 0.7071
Epoch 2/100
250/250 [==============================] - 2s 7ms/step - loss: 0.5584 - accuracy: 0.7945
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5336 - accuracy: 0.7945
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5172 - accuracy: 0.7945
Epoch 5/100
250/250 [==============================] - 2s 8ms/step - loss: 0.5059 - accuracy: 0.7945
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4980 - accuracy: 0.7945
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4929 - accuracy: 0.7945
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4897 - accuracy: 0.7945
Epoch 9/100
250/250 [==============================] - 1s 6ms/step - loss: 0.4872 - accuracy: 0.7945
Epoch 10/100
250/250 [==============================] - 1s 6ms/step - loss: 0.4845 - accuracy: 0.7945
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4811 - accuracy: 0.7945
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4768 - accuracy: 0.7945
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4722 - accuracy: 0.7954
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4687 - accuracy: 0.7993
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4667 - accuracy: 0.8008
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4652 - accuracy: 0.8018
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4642 - accuracy: 0.8016
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4632 - accuracy: 0.8016
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4624 - accuracy: 0.8011
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4614 - accuracy: 0.8014
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4609 - accuracy: 0.8021
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4601 - accuracy: 0.8023
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4596 - accuracy: 0.8016
Epoch 24/100
250/250 [==============================] - 1s 6ms/step - loss: 0.4590 - accuracy: 0.8019
Epoch 25/100
250/250 [==============================] - 1s 6ms/step - loss: 0.4586 - accuracy: 0.8019
Epoch 26/100
250/250 [==============================] - 1s 6ms/step - loss: 0.4583 - accuracy: 0.8026
Epoch 27/100
250/250 [==============================] - 2s 6ms/step - loss: 0.4579 - accuracy: 0.8020
Epoch 28/100
250/250 [==============================] - 1s 6ms/step - loss: 0.4572 - accuracy: 0.8004
Epoch 29/100
250/250 [==============================] - 2s 6ms/step - loss: 0.4569 - accuracy: 0.8034
Epoch 30/100
250/250 [==============================] - 2s 6ms/step - loss: 0.4563 - accuracy: 0.8015
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4557 - accuracy: 0.8027
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4556 - accuracy: 0.8023
Epoch 33/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4550 - accuracy: 0.8021
Epoch 34/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4549 - accuracy: 0.8015
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4544 - accuracy: 0.8024
Epoch 36/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4542 - accuracy: 0.8012
Epoch 37/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4538 - accuracy: 0.8024
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4537 - accuracy: 0.8023
Epoch 39/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4534 - accuracy: 0.8014
Epoch 40/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4529 - accuracy: 0.8026
Epoch 41/100
250/250 [==============================] - 1s 6ms/step - loss: 0.4526 - accuracy: 0.8035
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4527 - accuracy: 0.8020
Epoch 43/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4523 - accuracy: 0.8024
Epoch 44/100
250/250 [==============================] - 2s 6ms/step - loss: 0.4522 - accuracy: 0.8027
Epoch 45/100
250/250 [==============================] - 1s 6ms/step - loss: 0.4519 - accuracy: 0.8031
Epoch 46/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4513 - accuracy: 0.8025
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4514 - accuracy: 0.8020
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4513 - accuracy: 0.8027
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4512 - accuracy: 0.8030
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4510 - accuracy: 0.8025
Epoch 51/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4510 - accuracy: 0.8027
Epoch 52/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4507 - accuracy: 0.8020
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4503 - accuracy: 0.8027
Epoch 54/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4503 - accuracy: 0.8029
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4504 - accuracy: 0.8037
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4502 - accuracy: 0.8030
Epoch 57/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4499 - accuracy: 0.8031
Epoch 58/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4498 - accuracy: 0.8035
Epoch 59/100
250/250 [==============================] - 1s 6ms/step - loss: 0.4499 - accuracy: 0.8040
Epoch 60/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4499 - accuracy: 0.8036
Epoch 61/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4497 - accuracy: 0.8037
Epoch 62/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4493 - accuracy: 0.8033
Epoch 63/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4496 - accuracy: 0.8034
Epoch 64/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4494 - accuracy: 0.8034
Epoch 65/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4494 - accuracy: 0.8036
Epoch 66/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4494 - accuracy: 0.8041
Epoch 67/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4491 - accuracy: 0.8036
Epoch 68/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4494 - accuracy: 0.8044
Epoch 69/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4491 - accuracy: 0.8033
Epoch 70/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4492 - accuracy: 0.8027
Epoch 71/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4486 - accuracy: 0.8034
Epoch 72/100
250/250 [==============================] - 1s 6ms/step - loss: 0.4491 - accuracy: 0.8036
Epoch 73/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4541 - accuracy: 0.8029
Epoch 74/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4489 - accuracy: 0.8046
Epoch 75/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4489 - accuracy: 0.8040
Epoch 76/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4488 - accuracy: 0.8039
Epoch 77/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4487 - accuracy: 0.8039
Epoch 78/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4486 - accuracy: 0.8041
Epoch 79/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4486 - accuracy: 0.8034
Epoch 80/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4486 - accuracy: 0.8039
Epoch 81/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4485 - accuracy: 0.8037
Epoch 82/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4485 - accuracy: 0.8040
Epoch 83/100
250/250 [==============================] - 2s 8ms/step - loss: 0.4485 - accuracy: 0.8035
Epoch 84/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4484 - accuracy: 0.8036
Epoch 85/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4484 - accuracy: 0.8039
Epoch 86/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4487 - accuracy: 0.8030
Epoch 87/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4481 - accuracy: 0.8045
Epoch 88/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4482 - accuracy: 0.8033
Epoch 89/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4484 - accuracy: 0.8037
Epoch 90/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4482 - accuracy: 0.8034
Epoch 91/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4481 - accuracy: 0.8040
Epoch 92/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4481 - accuracy: 0.8043
Epoch 93/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4480 - accuracy: 0.8043
Epoch 94/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4481 - accuracy: 0.8041
Epoch 95/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4481 - accuracy: 0.8050
Epoch 96/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4482 - accuracy: 0.8039
Epoch 97/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4480 - accuracy: 0.8043
Epoch 98/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4479 - accuracy: 0.8049
Epoch 99/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4480 - accuracy: 0.8041
Epoch 100/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4480 - accuracy: 0.8049

In [62]:
model.evaluate(x_test, y_test)

63/63 [==============================] - 1s 5ms/step - loss: 0.4443 - accuracy: 0.8140

[0.44430920481681824, 0.8140000104904175]

In [63]:
print(x_test.iloc[1095])

CreditScore          0.658000
Gender               1.000000
Age                  0.567568
Tenure               0.600000
Balance              0.000000
NumOfProducts        0.333333
HasCrCard            1.000000
IsActiveMember       1.000000
EstimatedSalary      0.386638
Geography_France     1.000000
Geography_Germany    0.000000
Geography_Spain      0.000000
Name: 2685, dtype: float64

In [64]:
single_test = x_test.iloc[195].to_numpy()

In [65]:
import numpy as np
model.predict(np.array([single_test]))

1/1 [==============================] - 0s 112ms/step

array([[0.25083748]], dtype=float32)

In [66]:
y_pred = [(1 if i>0.5 else 0) for i in model.predict(x_test)]
y_pred

63/63 [==============================] - 0s 2ms/step

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [67]:
from sklearn.metrics import confusion_matrix, classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.99      0.90      1607
           1       0.73      0.08      0.15       393

    accuracy                           0.81      2000
   macro avg       0.77      0.54      0.52      2000
weighted avg       0.80      0.81      0.75      2000

In [68]:
df4.Exited.to_list().count(0)

7963

In [69]:
y_pred_t = [(1 if i>0.5 else 0) for i in model.predict(x_train)]
y_pred_t.count(1)

250/250 [==============================] - 1s 2ms/step

208